<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.myweb.domain.ResVO" alias="rvo"/>
		<typeAlias type="com.myweb.domain.MemVO" alias="mvo"/>
		<typeAlias type="com.myweb.domain.MemResVO" alias="mrvo"/>
		<typeAlias type="com.myweb.domain.PageVO" alias="pgvo"/>
	</typeAliases>
</configuration>